body{
    margin: 0;
    padding: 0;
    background-color: black ;
}
.brgr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
}
.brgr.active .line{
    background: rgba(0, 0, 0, 0);
}
.brgr.active .line:after{
    top: 0;
    transform: rotate(45deg);
}
.brgr.active .line:before{
    top: 0;
    transform: rotate(-45deg);
}
.line{
    width: 50px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}
.line:before, .line:after{
    width: 50px;
    height: 6px;
    content: '';
    position: absolute;
    background: #fff;
    transition: .5s;
}
.line:before{
    top: -16px;
}
.line:after{
    top: 16px; 
}

#menu{
    width: 80px;
    height: 150px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: powderblue;
    z-index: 0;
    visibility: hidden;
}
#menu .invisible{
    visibility: hidden;
}
#menu a{
    text-decoration: none;
}
#menu li{
    list-style: none;
}